@keyframes loaded {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  position: fixed;
  z-index: 2025;
  background: var(--background);
  inset: 0;

  &.loaded {
    transform-origin: bottom right;
    animation: loaded 600ms 600ms var(--material-cubic-bezier) forwards;
  }

  .progressWrapper {
    width: 250px;
    height: 250px;
    bottom: 40px;
    right: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 480px) {
      transform-origin: bottom right;
      transform: scale(0.5);
    }

    .circle {
      position: absolute;
      inset: 0;
      transform: rotate(-90deg);

      .circleProgressBar {
        transition: stroke-dashoffset 0.3s ease-out;
      }
    }

    .progress {
      font-size: clamp(40px, 10vw, 60px);
      font-family: var(--font-futuraBold), sans-serif;
    }
  }

  .pillsWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 207px;
    border-radius: 80px;
    overflow: hidden;

    @media screen and (max-width: 480px) {
      display: none;
    }

    .pills {
      inset: 0;
      position: absolute;

      .pillsProgressBar {
        transition: stroke-dashoffset 0.3s ease-out;
      }
    }

    .pillsProgress {
      position: absolute;
      inset: 0;
      backdrop-filter: blur(20px);
      background: linear-gradient(to bottom, #ccc, #fff);
      transform: translateY(100%);
      transition: transform 200ms var(--material-cubic-bezier);
    }

    .progress {
      font-size: clamp(14px, 2vw, 20px);
      font-family: var(--font-futuraBold), sans-serif;
    }
  }

  .roundedRectangleWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    width: 184px;
    height: 64px;

    @media screen and (max-width: 480px) {
      display: flex;
    }

    .roundedRectangle {
      inset: 0;
      position: absolute;

      .roundedRectangleProgressBar {
        transition: stroke-dashoffset 0.3s ease-out;
      }
    }

    .progress {
      font-size: clamp(20px, 4vw, 40px);
      font-family: var(--font-futuraBold), sans-serif;
    }
  }
}
