:root{
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
	--main-color-1: #E43E50;
	--main-color-2: #EC6C49;
	--sec-color-1: #F39C12;
	--sec-color-2: #FFC300;
}

html, body{
	margin: 0;
	min-height: 100%;
	height: 100%;
	background-color: var(--main-color-1);
	overflow: hidden;
}

body:before{
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/event.jpg) center / cover no-repeat;
	opacity: 0.1;
}

.invitation-wrapper{
	width: 500px;
	height: auto;
	min-height: 300px;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-perspective: 100px;
	perspective: 100px;
}

.envelope{
	width: 500px;
	height: 300px;
	background-color: #ececec;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	-webkit-perspective: 500px;
	perspective: 500px;
	cursor: pointer;
}

.envelope.animate{
	-webkit-transform: rotateX(2deg) rotateY(8deg) rotateZ(-15deg) scale(0.7);
	transform: rotateX(2deg) rotateY(8deg) rotateZ(-15deg) scale(0.7);
}

.envelope.animate .cover{
	z-index: 1;
}

.envelope.animate .cover:before{
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
}

.envelope .content.animate{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.envelope.view-content .cover{
	-webkit-transform: translateY(100vh);
	-ms-transform: translateY(100vh);
	transform: translateY(100vh);
}

.envelope.view-content {
	background-color: transparent;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.envelope.view-content .front{
	-webkit-transform: translateY(100vh);
	-ms-transform: translateY(100vh);
	transform: translateY(100vh);
}

.envelope.view-content .content{
	background-color: #fff;
	-webkit-animation: slideInOut 1s cubic-bezier(1, 0, 0, 1) forwards;
	animation: slideInOut 1s cubic-bezier(1, 0, 0, 1) forwards;
	height: auto;
	padding-bottom: 4rem;
}

.envelope.view-content .content .content-title{
	color: var(--sec-color-1);
}

.envelope.view-content .content .content-date{
	color: #999;
}

.envelope.view-content .content .content-details{
	display: block;
}

.cover{
	position: absolute;
	top: -150px;
	z-index: 3;
	-webkit-perspective: 500px;
	perspective: 500px;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

.cover:before{
	content: '';
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 250px 150px 250px;
	border-color: transparent transparent #ccc transparent;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	/*transition-delay: 1s;*/
	z-index: 1;
}

.content {
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	width: 90%;
	height: 100%;
	margin: auto;
	background-color: var(--sec-color-1);
	-webkit-box-shadow: 0 0 16px rgba(55,55,55,0.3);
	box-shadow: 0 0 16px rgba(55,55,55,0.3);
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	z-index: 1;
	border-radius: 0.5rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.content-title{
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin: 1rem auto;
}

.content-date{
	text-align: center;
	margin: 1rem 0;
	color: #fff
}

.content-details{
	text-align: justify;
	color: #999;
	font-size: 0.8125rem;
	display: none;
	padding: 0 1rem;
}

.content-action{
	display: block;
	border-radius: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	background: var(--sec-color-1);
	border: 0;
	border-bottom: 4px solid var(--sec-color-2);
	outline: none;
	text-align: center;
	margin: auto;
	padding: 0 1rem;
	position: absolute;
	bottom: 16px;
	left: 0;
	right: 0;
	width: 230px;
	font-weight: bold;
}

.content-action:active{
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
	border-bottom: 2px solid var(--sec-color-2)
}

.front{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
	width: 100%;
	background-color: #fff;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

.front:before{
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	position: absolute;
	top: -100px;
	border-style: solid;
	border-width: 100px 250px 0px 250px;
	border-color: transparent #fff;
}

@-webkit-keyframes slideInOut {
	0%{
		-webkit-transform: translateY(50px) rotateX(0deg);
		transform: translateY(50px) rotateX(0deg);
	}
	50%{
		-webkit-transform: translateY(-250px) rotateX(720deg);
		transform: translateY(-250px) rotateX(720deg);
	}
	100%{
		-webkit-transform: translateY(50px) rotateX(0);
		transform: translateY(50px) rotateX(0);
	}
}

@keyframes slideInOut {
	0%{
		-webkit-transform: translateY(50px) rotateX(0deg);
		transform: translateY(50px) rotateX(0deg);
	}
	50%{
		-webkit-transform: translateY(-250px) rotateX(720deg);
		transform: translateY(-250px) rotateX(720deg);
	}
	100%{
		-webkit-transform: translateY(50px) rotateX(0);
		transform: translateY(50px) rotateX(0);
	}
}

@media screen and (max-width: 450px){
	.invitation-wrapper{
		width: 330px;
		min-height: 200px;
	}

	.envelope{
		width: 330px;
		height: 200px;
	}

	.cover{
		top: -100px;
	}

	.cover:before{
		border-width: 0 165px 100px 165px;
	}

	.front{
		height: 100px;
	}

	.front:before{
		border-width: 100px 165px 0px 165px;
	}

	.content-title{
		font-size: 1rem;
	}

	.content-date{
		margin: 0.7rem 0;
	}

	.content-details{
		font-size: 0.7rem;
	}

	.content-action{
		height: 2rem;
		line-height: 1.8rem;
	}
}