@keyframes slideRightInText {
  from {
    clip-path: polygon(0px 0px, 0px 0px, 0px 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%);
  }
}

.hero {
  height: 100svh;
  padding: 2px;
  overflow: hidden;

  .gridWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 3fr 1fr 1fr;
    gap: 2px;
    position: relative;

    @media screen and (max-width: 480px) {
      grid-template-columns: 20px 1fr 20px 20px;
    }

    .gridItem {
      display: flex;
      align-items: center;
      height: 100%;
      background-color: rgba(255, 254, 240, 0.5);
      //background-color: rgba(255, 255, 255, 0.5);
      //backdrop-filter: blur(50px);
      position: relative;

      &.transparent {
        > * {
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }
  }

  .nameWrapper {
    padding: 0 80px;

    @media screen and (max-width: 480px) {
      padding: 0 0 0 60px;
    }
    h1 {
      font-size: clamp(24px, 5vw, 60px);
      font-family: var(--font-cormorantGaramond), sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      span {
        display: inline-flex;
        animation: slideRightInText 2s 400ms var(--material-cubic-bezier) forwards;
        clip-path: polygon(0px 0px, 0px 0px, 0px 100%, 0% 100%);

        &:nth-child(1) {
          animation-delay: 400ms;
        }

        &:nth-child(2) {
          animation-delay: 1200ms;
        }
      }
    }
    p {
      display: inline-block;
      font-size: clamp(12px, 1.5vw, 20px);
      font-family: var(--font-poppins), sans-serif;
      margin-top: 20px;
      animation: slideRightInText 1.4s 2400ms var(--material-cubic-bezier) forwards;
      clip-path: polygon(0px 0px, 0px 0px, 0px 100%, 0% 100%);
    }
  }
}
