<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content=""/>
    <meta name="copyright" content=""/>
    <meta name="robots" content="index, follow"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Survey 4 Template</title>
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/style-4.css" type="text/css" media="screen,projection"/>
    <link rel="stylesheet" href="css/semantic.min.css" type="text/css"  />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="index" title="" href=""/>
    <!--[if lt IE 9 ]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="" lang="en-US">
<div class="container">
    <div class="form-title" data-info="This is a">
        Simple form
    </div>
    <form class="ui form">
        <div class="field">
            <label>First Name</label>
            <input type="text" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
            <label>Last Name</label>
            <input type="text" name="last-name" placeholder="Last Name">
        </div>
        <div class="field">
            <label>Gender</label>
            <select class="ui dropdown">
                <option value="">Gender</option>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
        </div>
        <div class="field">
            <label>Phone</label>
            <input type="tel" name="phone" placeholder="Phone Number">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="example@sample.com">
        </div>
        <div class="grouped fields">
            <label>How often do you use checkboxes?</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="example2" checked="checked">
                    <label>Once a week</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="example2">
                    <label>2-3 times a week</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="example2">
                    <label>Once a day</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="example2">
                    <label>Twice a day</label>
                </div>
            </div>
            <div class="field">
                <label>Text</label>
                <textarea></textarea>
            </div>
            <div class="field">
                <label>Short Text</label>
                <textarea rows="2"></textarea>
            </div>
            <div class="field">
                <label>Rating</label>
                <div class="ui star rating" data-rating="0"></div>
            </div>
            <div class="emoji-rate" id="emoji">
                <div class="emoji-checkbox">
                    <input id="rate1" name="emoji" class="field" type="radio" value="0"/>
                    <label for="rate1"><span class="rate1"><i class="far fa-thumbs-down"></i></span></label>
                </div>
                <div class="emoji-checkbox">
                    <input id="rate2" name="emoji" class="field" type="radio" value="1"/>
                    <label for="rate2"><span class="rate2"><i class="far fa-frown"></i></span></label>
                </div>
                <div class="emoji-checkbox">
                    <input id="rate3" name="emoji" class="field" type="radio" value="2"/>
                    <label for="rate3"><span class="rate3"><i class="far fa-meh"></i></span></label>
                </div>
                <div class="emoji-checkbox">
                    <input id="rate4" name="emoji" class="field" type="radio" value="3"/>
                    <label for="rate4"><span class="rate4"><i class="far fa-smile"></i></span></label>
                </div>
                <div class="emoji-checkbox">
                    <input id="rate5" name="emoji" class="field" type="radio" value="4"/>
                    <label for="rate5"><span class="rate5"><i class="far fa-thumbs-up"></i></span></label>
                </div>
            </div>
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
<div class="popup">
    <div class="popup-container">
        <div class="popup-header">
            Instruction To Redeem
        </div>
        <div class="popup-content">
            Some instruction message
        </div>
        <button class="popup-close">Close</button>
    </div>
</div>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/semantic.min.js"></script>
<script type="text/javascript" src="js/sticky-kit.min.js"></script>
<script type="text/javascript" src="js/skrollr.min.js"></script>
<script type="text/javascript" src="js/qrcode.min.js"></script>
<script type="text/javascript" src="js/fontawesome-all.min.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<script type="text/javascript" src="js/main-4.js"></script>
</body>
</html>