<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="" />
		<meta name="copyright" content="" />
		<meta name="robots" content="index, follow" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>Voucher 2 Template</title>
		<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/style-2.css" type="text/css" media="screen,projection" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="index" title="" href="" />
		<!--[if lt IE 9 ]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--> 
	</head>
	<body class="" lang="en-US">
		<div class="voucher-wrapper">
			<h1 class="voucher-title">
				Christmas sales
			</h1>
			<div class="voucher-desc">
				Extra 20% OFF
				<a href="#" class="redeem-btn">Find out more</a>
			</div>
			<p class="voucher-footer">*Terms & conditions applied.</p>
		</div>
		<div class="popup">
			<div class="popup-container">
				<div class="popup-content">
					Some instruction message
				</div>
				<button class="popup-close">Close</button>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="js/sticky-kit.min.js"></script>
		<script type="text/javascript" src="js/skrollr.min.js"></script>
		<script type="text/javascript" src="js/qrcode.min.js"></script>
		<script type="text/javascript" src="js/fontawesome-all.min.js"></script>
		<script type="text/javascript" src="js/TweenMax.min.js"></script>
		<script type="text/javascript" src="js/main-2.js"></script>
	</body>
</html>