$navItemWidth: 45px;

@keyframes scaleIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@mixin baseNavigationStyle {
  position: fixed;
  left: 5vw;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 50px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 400ms var(--material-cubic-bezier);
}

.navigation {
  top: 50%;
  transform: translateY(-50%) translateX(0);
  --nav-item-width: #{$navItemWidth};
  @include baseNavigationStyle();

  &.hide {
    opacity: 0;
    transform: translateY(-50%) translateX(-20px);

    @media screen and (max-width: 480px) {
      transform: translateY(50%) translateX(-50%);
    }
  }

  @media screen and (max-width: 480px) {
    flex-direction: row;
    top: initial;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    padding: 12px;

    --nav-item-width: 40px;
  }

  @media not all and (hover: none) {
    &:hover {
      gap: 30px;
    }
  }

  .activeBackground {
    position: absolute;
    width: var(--nav-item-width);
    height: var(--nav-item-width);
    border-radius: 50%;
    background-color: #000;
    top: 0;
    opacity: 0;
    transform: scale(0.75);
    transition:
      transform 400ms var(--material-cubic-bezier),
      opacity 400ms var(--material-cubic-bezier);
    z-index: -1;

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  .navigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--nav-item-width);
    height: var(--nav-item-width);
    border-radius: 50%;
    color: #000;
    position: relative;

    &.active {
      color: #fff;

      @media screen and (max-width: 480px) {
        background-color: #000;
      }

      .activeBackground {
        animation: scaleIn 400ms var(--material-cubic-bezier) forwards;
      }
    }
  }
}

.immersiveToggle {
  cursor: pointer;
  border: 0;
  opacity: 0;
  visibility: hidden;
  @include baseNavigationStyle();
  --nav-item-width: #{$navItemWidth};
  top: calc(50% + 4 * var(--nav-item-width));
  width: calc(32px + var(--nav-item-width));
  height: calc(32px + var(--nav-item-width));

  @media screen and (max-width: 480px) {
    --nav-item-width: 40px;

    flex-direction: row;
    top: initial;
    left: calc(50% + 4 * var(--nav-item-width));
    bottom: 20px;
    padding: 12px;
    width: calc(24px + var(--nav-item-width));
    height: calc(24px + var(--nav-item-width));
  }

  &.active {
    top: 50%;
    transform: translateY(-50%) translateX(0);

    @media screen and (max-width: 480px) {
      top: initial;
      left: 50%;
      transform: translateY(0) translateX(-50%);
    }
  }

  &.isHome {
    top: calc(50% + 2.75 * var(--nav-item-width));
    opacity: 1;
    visibility: visible;

    @media screen and (max-width: 480px) {
      top: initial;
      left: calc(50% + 2.75 * var(--nav-item-width));
    }

    &.active {
      top: 50%;

      @media screen and (max-width: 480px) {
        top: initial;
        left: 50%;
      }
    }
  }

  @media not all and (hover: none) {
    &:hover {
      scale: 1.1;
    }
  }
}
