@keyframes scaleFadeIn {
  from {
    //transform: scale(1.1);
    opacity: 1;
  }
  to {
    //transform: scale(1);
    opacity: 0;
  }
}

.main {
  position: fixed;
  inset: 0;
  background: var(--background);
  opacity: 0;
  //filter: blur(100px) grayscale(1);
  will-change: transform;
  contain: layout paint;
  transition:
    opacity 1s var(--material-cubic-bezier),
    transform var(--drawer-duration) var(--drawer-easing),
    clip-path var(--drawer-duration) var(--drawer-easing);
  clip-path: inset(0 round var(--drawer-border-radius));
  transform: scale(var(--drawer-scale-x, 1), var(--drawer-scale-y, 1)) translateZ(0);
  transform-origin: center center;
  overflow: hidden;

  &.readingMode {
    overflow: hidden;
    contain: layout paint style;
  }

  @media screen and (max-width: 480px) {
    transform-origin: center bottom;
  }

  &:before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: var(--background);
    animation: scaleFadeIn 1.2s var(--material-cubic-bezier) forwards;
  }

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  :global(.is-ready) & {
    opacity: 1;
    //filter: blur(0) grayscale(0);
  }

  :global(.is-dragging) & {
    transition: initial;
  }
}
