.contact {
  padding: 2px;
  overflow: hidden;

  .gridWrapper {
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 3fr 1fr 1fr;
    gap: 2px;
    position: relative;

    @media screen and (max-width: 480px) {
      max-height: 700px;
      grid-template-columns: 20px 1fr 20px 20px;
    }

    .gridItem {
      height: 100%;
      background-color: rgba(255, 254, 240, 0.5);
      position: relative;
      padding: 20px 0 0 80px;

      @media screen and (max-width: 480px) {
        padding: 0;
      }

      &.transparent {
        background-color: transparent;
        padding: 0;
      }
    }
  }

  .innerGrid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;

    .innerGridItemTitle {
      height: 120px;
    }

    .innerGridItem {
      height: 100%;
      background-color: rgba(255, 254, 240, 0.5);
      position: relative;
      padding: 20px 20px 20px 80px;
      @media screen and (max-width: 480px) {
        padding: 20px 40px;
      }
    }
  }

  .title {
    font-size: clamp(24px, 5vw, 60px);
    font-family: var(--font-cormorantGaramond), sans-serif;

    &:not(:only-child) {
      margin-bottom: 20px;
    }
  }

  .subtitle {
    font-size: clamp(12px, 1.5vw, 18px);
    font-family: var(--font-poppins), sans-serif;
    font-weight: 600;
    margin-bottom: 12px;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  .description {
    font-size: clamp(12px, 1.5vw, 18px);
    font-family: var(--font-poppins), sans-serif;
  }

  .contactItem {
    display: flex;
    align-items: center;
    font-size: clamp(12px, 1.5vw, 20px);
    font-weight: 600;
    font-family: var(--font-poppins), sans-serif;
    padding: 12px 0;

    .contactItemIcon {
      width: 16px;
      margin-right: 4px;
    }

    .contactItemCta {
      display: flex;
      align-items: center;

      @media not all and (hover: none) {
        &:hover {
          img {
            transform: translateX(4px);
          }
        }
      }

      > img {
        width: 16px;
        margin-left: 10px;
        transition: transform 200ms var(--material-cubic-bezier);
      }
    }
  }
}
