:root{
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
	--main-color-1: #E43E50;
	--main-color-2: #EC6C49;
	--sec-color-1: #FFC300;
}

html, body{
	margin: 0;
}

.page-header{
	background: linear-gradient(to bottom, var(--main-color-1) 0%, var(--main-color-2) 100%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 300px;
	min-height: 50px;
	overflow: hidden;
}


.page-header .left{
	position: fixed;
	top: 15px;
	left: 20px;
	display: block;
	z-index: 3;
}

.page-header .right{
	position: fixed;
	top: 10px;
	right: 20px;
	display: block;
	z-index: 3;
}

.page-header .menu-toggle{
	width: 24px;
	height: 24px;
	color: #fff;
}

.page-header .menu-toggle > svg{
	width: 100%;
	height: 100%;
}

.page-header .printer{
	width: 24px;
	height: 24px;
	color: #999;
	background-color: #fff;
	padding: 4px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-header .printer > svg{
	width: 80%;
	height: 80%;
}

.page-header .qr{
	position: relative;
	height: 100%;
	z-index: 2;
	transition: opacity 200ms ease-in-out;
}

.page-header .qr-container{
	width: 180px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-header .qr-container img{
	width: 70%;
	height: 70%;
}

.page-header .qr-text{
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
}

.page-header .qr-text.fixed{
	position: fixed;
	top: 0;
	opacity: 1;
}

.page-content{
	padding: 24px;
	margin-top: 300px
}

.form{

}

.form-item{
	margin-bottom: 1rem;
}

.form-item .form-label{
	display: block;
	font-size: 0.8rem;
	padding-bottom: 4px;
}

.form-item .form-input{
	font-size: 1rem;
}

.form-item .form-input-action{
	color: var(--sec-color-1);
}

.form-item .form-input-action a{
	color: var(--sec-color-1);
	text-decoration: none;
}

.sidenav{
	position: fixed;
	left: 0;
	z-index: 99;
	width: 60vw;
	height: 100%;
	top: 0;
	transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transform: translateX(calc(-100% - 24px));
}

.sidenav.active{
	transform: translateX(0);
}

.sidenav .sidenav-wrapper{
	height: 100%;
	width: 100%;
	overflow: auto;
	background: linear-gradient(to bottom, var(--main-color-1) 0%, var(--main-color-2) 100%);
	box-shadow: 4px 0 16px rgba(55,55,55,0.5);
}

.overlay{
	cursor: pointer;
	content: '';
	position: fixed;
	z-index: 98;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	display: none;
}

.sidenav .nav-header{
	height: 200px;
	width: 100%;
}

.sidenav .nav-header .profile{
	width: 80px;
	height: 80px;
	margin: 20px auto 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	background-color: #ccc;
}

.sidenav .nav-header .info{
	color: #fff;
	text-align: center;
}

.sidenav .nav-header .info h3,
.sidenav .nav-header .info h5 {
	margin: 8px;
}

.sidenav .nav-content{
	background-color: rgba(255,255,255,0.1);
}

.sidenav .nav-content ul{
	list-style: none;
	margin: 10px auto;
	width: 80%;
	padding: 0;
}

.sidenav .nav-content ul li{
	height: 40px;
	line-height: 40px;
	position: relative;
}

.sidenav .nav-content ul li a{
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.sidenav .nav-content ul li a svg{
	width: 40px;
}