$lightGrey: #818181;

.header {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .headerWrapper {
    position: relative;
    background: rgba(255, 255, 255, 0.01);
    //backdrop-filter: blur(20px);
    border-radius: 50px;
    padding: 16px 20px;
    width: 50vw;
    min-width: 400px;
    max-width: 500px;
    overflow: hidden;
    border: 1px solid rgba(177, 177, 177, 0.2);
    box-shadow: 0 2px 60px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all 300ms var(--material-cubic-bezier);

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      height: 200%;
      background: linear-gradient(to bottom, hsl(0deg 0% 100%) 0%, transparent 50%);
      backdrop-filter: blur(64px);
      mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
      pointer-events: none;
      z-index: -1;
    }

    @media screen and (max-width: 480px) {
      width: 90vw;
      min-width: auto;
    }

    &.hidden {
      //opacity: 0;
      transform: translateY(calc(-150% + var(--drawer-percentage, 0) * 100% + 1px)) translateZ(1px);
      pointer-events: none;
    }
  }

  .name {
    font-family: var(--font-futura), sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 12px;

    &:hover {
      > span {
        transform: rotate(0) translateX(-4px);
        opacity: 1;
      }
    }

    > span {
      font-family: var(--font-futuraBold), sans-serif;
      display: inline-flex;
      transform-origin: top left;
      transform: rotate(10deg);
      opacity: 0;
      transition: all 200ms var(--material-cubic-bezier);
    }
  }

  .logo {
    width: 40px;
    position: relative;
  }

  .hamburger {
    margin-left: auto;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #000;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.drawer {
  background-color: #fff;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  outline: none;
  width: 50vw;
  min-width: 400px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;

  @media screen and (max-width: 480px) {
    width: 90vw;
    min-width: auto;
  }

  .container {
    overflow: auto;
    max-height: 90svh;
    padding: 0 40px 20px;

    @media screen and (max-width: 480px) {
      padding: 0 30px 20px;
    }
  }

  .title {
    display: none;
  }

  .handle {
    cursor: grab;
    margin: 0 auto;
    width: 50%;
    max-width: 100px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    &:active {
      cursor: grabbing;
    }
  }

  .content {
    padding: 40px 0;

    @media screen and (max-width: 480px) {
      padding: 20px 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $lightGrey;
    }
  }

  .contentTitle {
    font-family: var(--font-futura), sans-serif;
    font-size: 16px;
    color: $lightGrey;
  }

  .contactItem,
  .subtitle {
    color: #000;
    font-size: 24px;
    font-family: var(--font-futura), sans-serif;
    font-weight: 200;
    margin-top: 12px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;

    @media screen and (max-width: 480px) {
      margin-top: 4px;
      margin-bottom: 4px;
      font-size: 20px;
    }

    &:not(:first-child) {
      margin-top: 40px;
      @media screen and (max-width: 480px) {
        margin-top: 20px;
      }
    }

    &.email {
      padding-top: 40px;
      font-size: 18px;
      border-top: 1px solid $lightGrey;

      @media screen and (max-width: 480px) {
        padding-top: 20px;
      }
    }
  }

  .infoItemCta {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #000;
    outline: none;
    width: 32px;
    height: 32px;
    padding: 0;
    margin-left: auto;
    transition: transform 200ms var(--material-cubic-bezier);

    @media screen and (max-width: 480px) {
      width: 24px;
      height: 24px;
      border-width: 1px;
    }

    @media not all and (hover: none) {
      &:hover {
        transform: scale(1.2);
      }
    }

    > img {
      width: 24px;
      @media screen and (max-width: 480px) {
        width: 20px;
      }
    }
  }

  .contactItemCta {
    display: flex;
    align-items: center;
    width: 100%;

    > img {
      margin-left: auto;
    }
  }
}
