<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content=""/>
    <meta name="copyright" content=""/>
    <meta name="robots" content="index, follow"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Mobile Ticket 4 Template</title>
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/style-4.css" type="text/css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="index" title="" href=""/>
</head>
<body class="" lang="en-US">
<div class="ticket-wrapper">
    <div class="ticket-content">
        <div class="form-item">
            <label class="form-label">Name</label>
            <div class="form-input">Voon Loong Liang</div>
        </div>
        <div class="form-item">
            <label class="form-label">Event</label>
            <div class="form-input">Bank Tech Asia 2017 Malaysia</div>
        </div>
        <div class="form-item">
            <label class="form-label">Ticket/ Seat</label>
            <div class="form-input">Standard</div>
        </div>
        <div class="form-item with-action">
            <label class="form-label">Date</label>
            <div class="form-input">Thu, 22 Nov 2017 - Fri, 23 Nov 2019<br/>9:00AM MYT - 5:59PM MYT</div>
            <div class="form-input-action"><a class="action-btn" href="#"><i class="fas fa-calendar-plus"></i></a></div>
        </div>
        <div class="form-item with-action">
            <label class="form-label">Location</label>
            <div class="form-input">KL Convention Center Jalan Pinang Kuala Lumpur</div>
            <div class="form-input-action"><a class="action-btn" href="#"><i class="fas fa-location-arrow"></i></a></div>
        </div>
        <div class="form-item with-action">
            <label class="form-label">Organizer</label>
            <div class="form-input">Knowledge Group</div>
            <div class="form-input-action"><a class="action-btn" href="#"><i class="fas fa-question-circle"></i></a></div>
        </div>
    </div>
    <div class="ticket-footer">
        <button class="btn">Show qr code</button>
    </div>
    <div class="qr-wrapper">
        <div class="qr-container" id="qr"></div>
        <div class="qr-text">ID: 1234567</div>
        <div class="instruction-text">Click the <i class="fas fa-qrcode"></i> to close</div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/qrcode.min.js"></script>
<script type="text/javascript" src="js/fontawesome-all.min.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<script type="text/javascript" src="js/main-4.js"></script>
</body>
</html>