<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content=""/>
    <meta name="copyright" content=""/>
    <meta name="robots" content="index, follow"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Mobile Ticket 2 Template</title>
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/style-2.css" type="text/css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="index" title="" href=""/>
    <!--[if lt IE 9 ]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="" lang="en-US">
<a class="left menu-toggle" href="#"><i class="fas fa-bars"></i></a>
<div class="page-wrapper">
    <header class="page-header">
        <div class="qr">
            <div class="qr-container" id="qr"></div>
            <div class="qr-text">ID: 1234567</div>
        </div>
        <a href="#" class="right printer">
            <svg aria-hidden="true" data-prefix="fal" data-icon="print" role="img" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512" class="svg-inline--fa fa-print fa-w-16">
                <path fill="currentColor"
                      d="M416 192V81.9c0-6.4-2.5-12.5-7-17L351 7c-4.5-4.5-10.6-7-17-7H120c-13.2 0-24 10.8-24 24v168c-53 0-96 43-96 96v136c0 13.2 10.8 24 24 24h72v40c0 13.2 10.8 24 24 24h272c13.2 0 24-10.8 24-24v-40h72c13.2 0 24-10.8 24-24V288c0-53-43-96-96-96zM128 32h202.8L384 85.2V256H128V32zm256 448H128v-96h256v96zm96-64h-64v-40c0-13.2-10.8-24-24-24H120c-13.2 0-24 10.8-24 24v40H32V288c0-35.3 28.7-64 64-64v40c0 13.2 10.8 24 24 24h272c13.2 0 24-10.8 24-24v-40c35.3 0 64 28.7 64 64v128zm-28-112c0 11-9 20-20 20s-20-9-20-20 9-20 20-20 20 9 20 20z"
                      class=""></path>
            </svg>
        </a>
    </header>
    <main class="page-content">
        <div class="form">
            <div class="form-item">
                <label class="form-label">Name</label>
                <div class="form-input">Voon Loong Liang</div>
            </div>
            <div class="form-item">
                <label class="form-label">Event</label>
                <div class="form-input">Bank Tech Asia 2017 Malaysia</div>
            </div>
            <div class="form-item">
                <label class="form-label">Ticket/ Seat</label>
                <div class="form-input">Standard</div>
            </div>
            <div class="form-item">
                <label class="form-label">Date</label>
                <div class="form-input">Thu, 22 Nov 2017 - Fri, 23 Nov 2019<br/>9:00AM MYT - 5:59PM MYT</div>
                <div class="form-input-action"><a class="action-btn" href="#">Add as calender</a></div>
            </div>
            <div class="form-item">
                <label class="form-label">Location</label>
                <div class="form-input">KL Convention Center Jalan Pinang Kuala Lumpur</div>
                <div class="form-input-action"><a class="action-btn" href="#">Give me a direction</a></div>
            </div>
            <div class="form-item">
                <label class="form-label">Organizer</label>
                <div class="form-input">Knowledge Group</div>
                <div class="form-input-action"><a class="action-btn" href="#">View more event listing</a></div>
            </div>
        </div>
    </main>
</div>
<div class="sidenav">
    <div class="sidenav-wrapper">
        <div class="nav-header">
            <div class="profile"></div>
            <div class="info">
                <h3>Voon Loong Liang</h3>
                <h5>example@email.com</h5>
            </div>
        </div>
        <div class="nav-content">
            <ul>
                <li>
                    <a href="#"><i class="fas fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-address-book"></i>Item 1</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-briefcase"></i>Item 2</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-calendar"></i>Item 3</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/sticky-kit.min.js"></script>
<script type="text/javascript" src="js/skrollr.min.js"></script>
<script type="text/javascript" src="js/qrcode.min.js"></script>
<script type="text/javascript" src="js/fontawesome-all.min.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<script type="text/javascript" src="js/main-2.js"></script>
</body>
</html>