<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="author" content="" />
	<meta name="copyright" content="" />
	<meta name="robots" content="index, follow" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Event Invitation 2 Template</title>
	<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="css/style-2.css" type="text/css" media="screen,projection" />
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="index" title="" href="" />
	<!--[if lt IE 9 ]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="" lang="en-US">
<div class="invitation-wrapper">
	<div class="envelope">
		<div class="cover"></div>
		<div class="content">
			<div class="content-title">Event Invitation</div>
			<div class="content-date">29/April/2018</div>
			<div class="content-details">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</div>
			<button class="content-action">Add to calender</button>
		</div>
		<div class="front"></div>
	</div>
</div>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<script type="text/javascript" src="js/main-2.js"></script>
</body>
</html>