$mainColor: #304ffe;
$transparentMainColor: rgba(48, 79, 254, 0.2);
$springCubicBezier: cubic-bezier(0.77, 0.2, 0.05, 1);
$materialCubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
$mobileScreenSize: 480px;

:root {
  font-size: 16px;
  @media screen and(max-width: $mobileScreenSize) {
    font-size: 10px;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

html,
body {
  font-family: "Spartan", "Arial", sans-serif;
  margin: 0;
  transition: all 400ms $materialCubicBezier;
  position: relative;
  //background-color: #eee;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #efeeee;
  &.dark {
    background-color: #333333;
    color: #fff;
  }
}

body.dark {
  header {
    background-color: (rgba(0, 0, 0, 0.2));
  }
  .dark-toggle {
    color: #fafafa;
  }
  .line {
    path {
      opacity: 0.2 !important;
    }
  }
  .main-wrapper {
    .title {
      color: #fff;
    }
    .desc {
      color: #a2a2a2;
      > span {
        color: #fff;
      }
    }
    .overlay {
      //opacity: 0.4 !important;
      background-color: #333333;
      box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.2),
        -30px -30px 50px rgba(55, 55, 55, 0.8) !important;
    }
    path {
      fill: #fafafa !important;
    }
    article {
      &[data-target="home"] {
        &:before {
          background: linear-gradient(45deg, #353433, #444);
          box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.2),
            -30px -30px 50px rgba(55, 55, 55, 0.8);
        }
      }
      &[data-target="about"] {
        background-color: #222;
        .left-wrapper {
          .list-view > li {
            > ul {
              &:before {
                background-color: #353535;
              }
              li {
                color: #a2a2a2;
                &:before {
                  background-color: #565656;
                }
              }
            }
          }
        }
        .footer {
          background-color: #111;
          .footer-wrapper {
            color: #fff;
          }
        }
      }
    }
  }
}

.animate-text {
  @keyframes animateIn {
    from {
      transform: translateY(5px);
      -webkit-clip-path: inset(100% 0% 0% 0%);
      clip-path: inset(100% 0% 0% 0%);
    }
    to {
      transform: translateY(0);
      -webkit-clip-path: inset(0);
      clip-path: inset(0);
    }
  }
  @keyframes animateOut {
    from {
      transform: translateY(0);
      -webkit-clip-path: inset(0);
      clip-path: inset(0);
    }
    to {
      transform: translateY(-5px);
      -webkit-clip-path: inset(0% 0% 100% 0%);
      clip-path: inset(0% 0% 100% 0%);
    }
  }
  &.animate-in {
    span {
      animation-name: animateIn;
    }
  }
  &.animate-out {
    span {
      animation-name: animateOut;
    }
  }
  > span {
    display: inline-block;
    transform: translateY(5px);
    transform-origin: bottom;
    //clip-path: inset(100% 0% 0% 0%);
    animation-timing-function: $springCubicBezier;
    animation-fill-mode: forwards;
    animation-name: animateIn;
    &.empty {
      width: 1rem;
    }
    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        animation-duration: #{$i * 200}ms;
        //transition-delay: #{$i * 50}ms;
      }
    }
  }
}

.dark-toggle {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  transition: all 400ms $materialCubicBezier;
  cursor: pointer;
  transform: rotate(-180deg);
  color: #333;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //height: 6480px;
  height: 700vh;
  //width: 100vw;
  width: 1920px;
  margin: auto;
  z-index: 1;
  path {
    fill: none;
    //stroke: rgba(55, 55, 55, 0.4);
    /* stroke-dasharray: 0; */
    stroke-dasharray: 13000;
    stroke-dashoffset: 13000;
    stroke-width: 200px;
    //stroke: #ccc;
    opacity: 0.1;
    transition: stroke 1s $materialCubicBezier,
      stroke-dashoffset 100ms $materialCubicBezier;
  }
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 16rem;
  border-radius: 0 0 40px 0;
  padding: 0 0 0 5rem;
  transform-origin: top;
  transform: translateY(-100%);
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 100px;
  display: flex;
  align-items: center;
  transition: all 300ms $springCubicBezier;
  z-index: 100;
  @media screen and(max-width: $mobileScreenSize) {
    padding: 0 0 0 2rem;
    height: 60px;
  }
  &.active {
    transform: translateY(0);
  }
  .logo {
    .title {
      margin-bottom: 0.2rem;
      font-size: 1rem;
      @media screen and(max-width: $mobileScreenSize) {
        font-size: 1.4rem;
      }
    }
    .position {
      font-size: 1rem;
      @media screen and(max-width: $mobileScreenSize) {
        font-size: 1.4rem;
      }
    }
  }
  .nav {
  }
}

.main-wrapper {
  //overflow-x: hidden;
  //overflow-y: auto;
  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #444;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 0;
    @media screen and(max-width: $mobileScreenSize) {
      font-size: 3rem;
    }
    &:before {
      content: "";
      position: absolute;
      width: calc(100% + 1.5rem);
      height: calc(100% + 1.5rem);
      left: -1rem;
      top: -1rem;
      transform-origin: left;
      transform: scaleX(0);
      //background-color: $transparentMainColor;
      background-color: $mainColor;
      transition: all 1s $springCubicBezier;
      z-index: -1;
    }
    .shadow {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: #fff;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      max-width: 0;
      display: inline-block;
      transition: all 850ms $springCubicBezier;
    }
  }
  .desc {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #666;
    > span {
      color: #333;
      font-weight: bold;
    }
    @media screen and(max-width: $mobileScreenSize) {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }
  article {
    height: 100vh;
    padding: 0 10rem;
    position: relative;
    //display: flex;
    //align-items: center;
    @media screen and(max-width: $mobileScreenSize) {
      padding: 0 2rem;
    }
    .overlay {
      z-index: 0;
      background-color: #efeeee;
      transition: all 1s $materialCubicBezier;
      border-radius: 200px;
      box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.2),
        -30px -30px 50px rgba(255, 255, 255, 0.8);
    }
    &.active {
      .title {
        &:before {
          transform: scaleX(1);
        }
        .shadow {
          max-width: 100%;
        }
      }
    }
    .article-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 10;
      @media screen and(max-width: $mobileScreenSize) {
        display: block;
        [data-icon] {
          svg {
            height: 15rem;
          }
        }
      }
      .left-wrapper {
        width: 100%;
        @media screen and(max-width: $mobileScreenSize) {
          font-size: 2rem;
          text-align: left;
        }
      }
      .right-wrapper {
        width: 50%;
        @media screen and(max-width: $mobileScreenSize) {
          font-size: 2rem;
          width: 100%;
          text-align: right;
        }
      }
    }
    &[data-target="home"] {
      display: flex;
      align-items: center;
      section {
        font-weight: 700;
        .title {
          font-weight: 400;
          font-size: 3rem;
          position: relative;
          z-index: 10;
          &:before {
            display: none;
          }
          > span {
            display: inline-block;
            transform: translateY(0);
            -webkit-clip-path: inset(0);
            clip-path: inset(0);
            transition: all 400ms $springCubicBezier;
            &.hide {
              transform: translateY(5px);
              -webkit-clip-path: inset(100% 0% 0% 0%);
              clip-path: inset(100% 0% 0% 0%);
            }
          }
        }
        .position {
          //font-weight: 400;
          font-size: 4rem;
          position: relative;
          z-index: 10;
        }
      }
      &:before {
        content: "";
        width: 65vw;
        height: 65vw;
        border-radius: 200px;
        transform: skewX(-11deg) rotate(31deg);
        position: absolute;
        bottom: -10rem;
        right: -20rem;
        //background: linear-gradient(45deg, #fafafa, #eee);
        background-color: #efeeee;
        box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.2),
          -30px -30px 50px rgba(255, 255, 255, 0.8);
        z-index: 0;
      }
      .overlay {
        width: 90rem;
        height: 120rem;
        //border-radius: 20px;
        transform: rotate(40deg);
        position: absolute;
        top: -10rem;
        left: -20rem;
        //opacity: 0.1;
        transition: background-color 1s $springCubicBezier;
        mix-blend-mode: exclusion;
      }
    }

    &[data-target="developer"] {
      .overlay {
        width: 60vw;
        height: 60vw;
        //border-radius: 20px;
        transform: rotate(32deg);
        position: absolute;
        bottom: 20%;
        left: -20%;
        z-index: 1;
        //opacity: 0.1;
      }
      .article-wrapper {
        position: relative;
        z-index: 1;
        .left-wrapper {
          color: transparent;
          .developer-icon {
            width: 40%;
            opacity: 0.2;
            path {
              fill: currentColor;
            }
          }
        }
        .right-wrapper {
        }
      }
    }

    &[data-target="designer"] {
      .overlay {
        content: "";
        width: 65vw;
        height: 65vw;
        //border-radius: 40px;
        transform: skewX(-11deg) rotate(31deg);
        position: absolute;
        bottom: -10rem;
        right: -20rem;
        //opacity: 0.1;
      }
      .article-wrapper {
        .left-wrapper {
        }
        .right-wrapper {
          display: flex;
          align-items: center;
          color: transparent;
          .design-icon {
            width: 60%;
            margin-left: auto;
            opacity: 0.2;
            path {
              fill: currentColor;
              transition: all 1s 200ms $materialCubicBezier;
            }
          }
        }
      }
    }

    &[data-target="photographer"] {
      position: relative;
      .overlay {
        width: 60vw;
        height: 60vw;
        //border-radius: 20px;
        transform: rotate(32deg);
        position: absolute;
        bottom: 20%;
        left: -20%;
        //opacity: 0.1;
        z-index: 1;
      }
      .article-wrapper {
        position: relative;
        z-index: 1;
        .left-wrapper {
          width: 50%;
        }
      }

      $imageGap: 10px;
      .photo-frame {
        height: 30rem;
        margin-right: 3rem;
        overflow: hidden;
        .photo-row {
          height: calc(100% / 3 - #{$imageGap} - 1rem);
          display: flex;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: $imageGap;
          }
          .photo-item {
            height: 100%;
            margin-right: $imageGap;
            img {
              height: 100%;
            }
          }
        }
      }
      //@keyframes imageMoveLeft {
      //  from {
      //    //transform: translateX(0);
      //    transform: translateX(0);
      //  }
      //  to {
      //    //transform: translateX(calc(var(--0Width) / -2 + 30rem));
      //  }
      //}
      //@keyframes imageMoveRight {
      //  from {
      //    transform: translateX(calc(var(--1Width) / -2));
      //  }
      //  to {
      //    transform: translateX(0);
      //  }
      //}
    }

    &[data-target="ui"] {
      .overlay {
        content: "";
        width: 65vw;
        height: 65vw;
        //border-radius: 40px;
        transform: skewX(-11deg) rotate(31deg);
        position: absolute;
        bottom: -10rem;
        right: -20rem;
        //opacity: 0.1;
        z-index: 1;
      }
      .article-wrapper {
        position: relative;
        z-index: 1;
        .left-wrapper {
        }
        .right-wrapper {
          display: flex;
          align-items: center;
          color: #fff;
          .ui-icon {
            width: 60%;
            margin-left: auto;
            opacity: 0.2;
            path {
              fill: currentColor;
              transition: all 1s 200ms $materialCubicBezier;
            }
          }
        }
      }
    }

    &[data-target="coffee"] {
      overflow: hidden;
      .desc {
        margin-bottom: 20px;
      }
      .overlay {
        width: 50rem;
        height: 50rem;
        //border-radius: 20px;
        transform: rotate(45deg) translate(-7%, 84%);
        position: absolute;
        bottom: 50%;
        left: 0;
        //opacity: 0.1;
        z-index: 1;
      }
      .article-wrapper {
        position: relative;
        z-index: 1;
        .left-wrapper {
          color: transparent;
          .coffee-icon {
            width: 40%;
            opacity: 0.2;
            path {
              fill: currentColor;
              transition: all 1s 200ms $materialCubicBezier;
            }
          }
        }
        .right-wrapper {
        }
      }
      @import "buyMeCoffee";
    }
    &[data-target="about"] {
      position: relative;
      //background-color: #fafafa;
      .left-wrapper {
        position: relative;
        z-index: 20;
        .desc {
          margin-bottom: 20px;
        }
        .list-wrapper {
          display: flex;
          position: relative;
          z-index: 1;
          > .list-view {
            &:not(:last-child) {
              margin-right: 3rem;
            }
          }
        }
        .list-view {
          margin: 0;
          padding: 0 0 0 1rem;
          list-style: none;
          $listRadiusSize: 0.5rem;
          $listRadiusSizeSmall: 0.4rem;
          $lineHeight: 1.7rem;
          @media screen and(max-width: $mobileScreenSize) {
            font-size: 1rem;
          }
          > li {
            position: relative;
            line-height: $lineHeight;
            margin-bottom: calc(#{$lineHeight} / 2);
            font-weight: bold;

            &:before {
              content: "";
              position: absolute;
              width: $listRadiusSize;
              height: $listRadiusSize;
              left: calc(-1rem - 3px);
              top: calc(#{$lineHeight} / 2 - #{$listRadiusSize});
              //background-color: #333;
              border-radius: 50%;
              border: 2px solid $mainColor;
              font-size: 0;
            }
            > ul {
              margin: 0;
              padding: 0;
              list-style: none;
              &:before {
                content: "";
                width: 2px;
                top: calc(#{$lineHeight} + 8px);
                position: absolute;
                left: calc(-1rem + 2px);
                height: calc(100% - #{$lineHeight} * 2);
                background-color: #e6e6e6;
              }
              li {
                position: relative;
                line-height: $lineHeight;
                font-weight: normal;
                color: #666;
                &:before {
                  content: "";
                  position: absolute;
                  width: $listRadiusSizeSmall;
                  height: $listRadiusSizeSmall;
                  left: -1rem;
                  top: calc(#{$lineHeight} / 2 - #{$listRadiusSizeSmall});
                  //background-color: #333;
                  border-radius: 50%;
                  background-color: #c5c5c5;
                  font-size: 0;
                }
              }
            }
          }
        }
      }
      .right-wrapper {
        .map-container {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          height: 60rem;
          width: 60rem;
          bottom: 5rem;
          right: -20rem;
          -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          z-index: 10;
          pointer-events: none;
          @media screen and(max-width: $mobileScreenSize) {
            width: 40rem;
            height: 40rem;
            right: -14rem;
          }
          .map-item {
            width: 100%;
            height: 100%;
          }
        }
      }
      .footer {
        height: 80px;
        background-color: #666;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 10rem;
        box-sizing: border-box;
        font-size: 0.8rem;
        z-index: 1;
        @media screen and(max-width: $mobileScreenSize) {
          padding: 0 2rem;
        }
        .footer-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
          color: #fff;
          @media screen and(max-width: $mobileScreenSize) {
            flex-flow: row wrap;
            height: 100%;
            font-size: 1.1rem;
          }
          p {
            margin-right: auto;
            @media screen and(max-width: $mobileScreenSize) {
              width: 100%;
              margin-top: auto;
              margin-bottom: 1rem;
            }
          }
          .contact-wrapper {
            display: flex;
            align-items: center;
            @media screen and(max-width: $mobileScreenSize) {
              width: 100%;
              margin-bottom: auto;
            }
            .contact {
              margin-right: 2rem;
            }
            .icon {
              width: 1rem;
              height: 1rem;
              text-decoration: none;
              &:not(:last-child) {
                margin-right: 1rem;
              }
              path {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
}
